<form action="endGame" method="post">
<h1>Congratulations: {{usuario.user}}</h1>
<h2>Your Score was: {{usuario.scoreNow}}</h2>

<div class="row align-items-center justify-content-center vh-85">
<div class="col-md-6">

</form>

<h1>Best Scores:</h1>
<table class="table table-dark table-hover">
<thea>
<tr>
    <th scope="col">Puesto</th>
    <th scope="col">Imagen</th>
    <th scope="col">Username</td>
    <th scope="col">Score</th>
</tr>
</thead>
<tr>
    <th scope="row">Number: 1</th>
    <td><img src="https://res.cloudinary.com/riky-dev/image/upload/w_100,h_100,c_fill/{{scores.user1.imagen}}"></img></td>
    <td>{{scores.user1.username}}</td>
    <td>{{scores.user1.score}}</td>
</tr>
<tr>
    <th cope="row">Number: 2</th>
    <td><img src="https://res.cloudinary.com/riky-dev/image/upload/w_100,h_100,c_fill/{{scores.user2.imagen}}"></img></td>
    <td>{{scores.user2.username}}</td>
    <td>{{scores.user2.score}}</td>
</tr>
<tr>
    <th cope="row">Number: 3</th>
    <td><img src="https://res.cloudinary.com/riky-dev/image/upload/w_100,h_100,c_fill/{{scores.user3.imagen}}"></img></td>
    <td>{{scores.user3.username}}</td>
    <td>{{scores.user3.score}}</td>
</tr>
</table>
</div>          
    <div class="text-center">
    <a class="btn btn-dark col-md-1" href="secret" role="button">Play again</a>
    <button type="submit" class="btn btn-light col-md-2">End game</button>
    </div>
</div>
