{{>NavBar}}

<div class="container">
  <div id="game" class="justify-center flex-column p-3">
    <div id="hud">
      <div id="hud-item">
        <p class="hud-prefix">
          Score: {{score}}
        </p>
        </div>
        <div id="hud-item">
          <p class="hud-prefix">
          Lifes: {{vidas}}
        </p>
        </div>
      </div>

    <h2 id="question">{{data.question}}</h2>

    <form class="choice-container" action="secret" method="POST">
      <p class="choice-prefix">A</p>
      <input id="vidas" name="vidas" value="{{vidas}}" hidden>
       <input id="score" name="score" value="{{score}}" hidden />
      <button id="btn" name="btn" type="submit" class="choice-text" value="{{a}}">{{a}}<input id="correct"
          name="correct" value="{{data.correct_answer}}" hidden></button>
    </form>
    <form class="choice-container" action="secret" method="POST">
      <p class="choice-prefix">B</p>
      <input id="vidas" name="vidas" value="{{vidas}}" hidden>
       <input id="score" name="score" value="{{score}}" hidden/>
      <button id="btn" name="btn" type="submit" class="choice-text" value="{{b}}">{{b}}<input id="correct"
          name="correct" value="{{data.correct_answer}}" hidden></button>
    </form>
    <form class="choice-container" action="secret" method="POST">
      <p class="choice-prefix">C</p>
      <input id="vidas" name="vidas" value="{{vidas}}" hidden>
       <input id="score" name="score" value="{{score}}" hidden/>
      <button id="btn" name="btn" type="submit" class="choice-text" value="{{c}}">{{c}}<input id="correct"
          name="correct" value="{{data.correct_answer}}" hidden></button>
    </form>
    <form class="choice-container" action="secret" method="POST">
      <p class="choice-prefix">D</p>
      <input id="vidas" name="vidas" value="{{vidas}}" hidden>
       <input id="score" name="score" value="{{score}}" hidden/>
      <button id="btn" name="btn" type="submit" class="choice-text" value="{{d}}">{{d}}<input id="correct"
          name="correct" value="{{data.correct_answer}}" hidden></button>
    </form>
  </div>